<!-- /templates/customers/login.liquid -->


	<div class="header_height"></div>

<div class="breadcrumb_section">
  <div class="container">
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="breadcrumb_item">
          {% include 'breadcrumb' %}
        </div>
      </div>
    </div>
  </div>
</div>



<div class="content">  
	<div class="back_bg product_bg">  
    	<div id="customer-login">  		
             <div class="container">
                 <div class="grid">
                      <div class="grid__item large--two-fifths push--large--three-tenths max-large--three-fifths push--max-large--one-fifth text-center max-medium--eight-twelfths push--max-medium--two-twelfths">
                        
                        <div id="CustomerLoginForm" style="display:block;">                       
                           <div class="section_title">
                                <h1>{{ 'customer.login.title' | t }}</h1>
                             <p>Are you New? <a href="/account/register">Register</a></p>
                            </div>
                          {% form 'customer_login' %} 
                          	 
                          {{ form.errors | default_errors }}
                          
                          <div class="row">
                            
                           <input type="email"  arial-label="Email" name="customer[email]" id="CustomerEmail" class="input-full" placeholder="Email" required> 
 							
                          </div>               
                             {% if form.password_needed %}
                                <div class="row">
                                 <input type="password" value="" arial-label="password" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
                                 </div>                 
                    		{% endif %}
                            <p>
                              <button type="submit">{{ 'customer.login.sign_in' | t }}<span><i class="fa fa-angle-right"></i></span></button>
                            </p>
                            <a href="{{ shop.url }}"><span><i class="fa fa-angle-left"></i></span>{{ 'customer.login.cancel' | t }}</a>
                            
                           {% if form.password_needed %}
                             <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }} <span><i class="fa fa-angle-right"></i></span></a>
                         
                           {% endif %} 
                            
                           {% endform %}        
                        </div>            
                        
                        <div id="RecoverPasswordForm" style="display: none;">
                    
                          <h2>{{ 'customer.recover_password.title' | t }}</h2>
                          <p>{{ 'customer.recover_password.subtext' | t }}</p>
                    
                          <div class="form-vertical">
                            {% form 'recover_customer_password' %}
                            
                              {{ form.errors | default_errors }}
                            
                             {% if form.posted_successfully? %}
         						   {% assign resetPassword = true %}
         					 {% endif %}

                            <div class="row">
                              <label for="RecoverEmail"  class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
                              <input type="email" value="" arial-label="Email" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
                            </div>
                    
                            <div class="submit_row">
                              <button type="submit" arial-label="submit" class="btn btn--full">Submit</button>
                            </div>
                              
                             <a href="#" class="btn" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>
                           {% endform %}
                          </div>
                    
                        </div>
                        {% comment %}
                        If accounts are set as optional, the following will be shown as an option
                        during checkout, not on the default /login page.
                        {% endcomment %}
                        {% if shop.checkout.guest_login %}
                        <hr>

                        <h2>{{ 'customer.login.guest_title' | t }}</h2>

                        {% form 'guest_login' %}
                        <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
                        {% endform %}
                        {% endif %}

                    
                      </div>            
                 </div>  
             </div>
        </div>
    </div>
</div>












