	<!--background images-->
		<div class="mask" style="background:url({% if settings.password-page-background != blank %}{{ settings.password-page-background | img_url:'master' }}{% else %}{{ 'placeholder_image.png' | asset_url }}{% endif %}) center no-repeat; background-size: cover;"></div>
	
    <div class="page_content">
    
	<div class="container">
	
      <div id='password_section'>

        <div class="login_password_section">
          <div id='login'>
            <div class="login_header">
              {% if settings.logo_use_image %}
              {% capture image_size %}{{ settings.logo_max_width }}x{% endcapture %}
              <img src="{{ settings.logo | img_url:image_size }}" alt="{{ shop.name }}" />
              {% else %}
              <h2>{{ shop.name }}</h2>
              {% endif %}
              {% if shop.password_message and shop.password_message != '' %}
              {{ shop.password_message }}
              {% else %}
              <h1>Will be opening soon...</h1>
              {% endif %}
            </div>
            {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <!-- <label for='password'>Enter store using password: </label> -->
            <input type='password' arial-label="password" name='password' id='password' placeholder="Enter store using password" required>
            <div class="actions">
              <input class="btn" name="commit" type="submit" value="Enter" />
            </div>
            {% endform %}
          </div>

          <div id='login_footer'>
            <div id='owner'>Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
	
            {% if settings.enable_password_sociallink %}
            <div class="social_share">
              <h4>{{ settings.password_title_name }}</h4>

              {% include 'social-links' %}

            </div>
            {% endif %}
			<div id='powered'>
              This store is powered by {{ 'shopify_icon.png' | asset_url | img_tag }} <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow">Shopify</a>
            </div>
          </div>
        </div>

      </div>
      
	</div>
    </div>


{{ 'modernizr.js' | asset_url | script_tag }}
{{ 'jquery.gridrotator.js' | asset_url | script_tag }}
{{ 'script.js' | asset_url | script_tag }}
